* {
	border: solid 3px black;
}

nav {
	background-color: #D3D3D3;
	position: fixed;
	height: 110px;
	width: 99.9%;
	font-family: Arial, serif;
}

nav ul {
	text-align: right;
	color: purple;
	padding-right: 15px;
}
nav h1 {
	margin-top: 30px;

}

.Post {
	display: inline-block;
	margin-right: 10px;
}

.Account {
	display: inline-block;
text-align: left;
}

nav h1 {
		margin-left: 1em;
}

.Search {
	position: absolute;
	margin-top: 8em;
	margin-left: 2em;
}

label {
	margin-top: 10em;

}

form {
}

button img {
	height: 2em;

}

input {
	height: 2em;
}
button {
	border: 0px;
	padding: 0px;
	height: 2em;
}
